# Node.js dependencies
node_modules/

# Built files
build/
dist/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE-specific files
.vscode/
.idea/
*.iml

# Package lock files
package-lock.json
yarn.lock

# Editor backup files
*~
